.header {
  width: 100%;
  height: 100%;

  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    .account {
      display: flex;
      align-items: center;
      gap: 20px;

      .email {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #4f4f4f;
      }
      .button {
        width: 93px;
        height: 33px;

        border: 2px solid #d45b78;

        background: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: var(--red);
      }
    }
  }
}
