.settingsTabs {
  height: 48px;

  display: flex;
  align-items: center;

  overflow-x: scroll;
  overflow-y: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  .settingsTab {
    padding: 12px 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    background: none;

    white-space: nowrap;

    border: none;
    color: var(--gray);
  }

  .settingsTabActive {
    background: #eeeeee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}
