.color {
  width: 39px;
  height: 39px;
  border-radius: 50%;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.green {
  background: #06be9d;
}
.lightGreen {
  background: #06d369;
}
.blue {
  background: #0292e8;
}
.lightPurple {
  background: #a648b7;
}
.orange {
  background: #f77600;
}
.lightRed {
  background: #f53214;
}
.gray {
  background: #808080;
}
