.avatarSlider {
  margin-top: 30px;
  margin-bottom: 50px;

  svg {
    cursor: pointer;
  }

  .title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    gap: 50px;

    width: 100%;

    .slider {
      display: flex;
      width: 100%;
    }

    .list {
      ::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      max-width: 800px;
      width: 100%;

      overflow-x: scroll;

      display: flex;
      align-items: center;
      gap: 40px;
      list-style: none;

      .item {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
      }
    }
  }
}
