.avatarSlider {
  margin-top: 30px;
  margin-bottom: 50px;
  max-width: 800px;
  width: 100%;

  svg {
    cursor: pointer;
  }

  .title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

  .slider {
    height: 200px;
    display: flex;
    align-items: center;
    gap: 40px;

    .slick-slide {
      display: flex;
    }
  }
}
