.widgetsTable {
  position: relative;
  padding-bottom: 10px;

  // overflow-x: scroll;

  .top {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: var(--gray);

    display: grid;
    grid-template-columns: 224px 410px 380px 375px 130px;

    @media screen and (max-width: 1440px) {
      font-size: 14px;
    }

    @media screen and (max-width: 1450px) {
      grid-template-columns: 120px 270px 250px minmax(270px, 1fr) 120px;
    }

    @media screen and (max-width: 790px) {
      grid-template-columns: 100px 255px 230px minmax(250px, 1fr) 110px;
    }

    span {
      &:not(:first-child) {
        padding: 0 50px;
      }
      text-align: center;
    }
  }

  .rowsWrapper {
    .rows {
      margin-top: 7px;
      overflow-x: scroll;
      height: 55vh;
      background: var(--table);

      .row {
        max-height: 140px;
        height: 100%;

        &:first-child {
          .website,
          .settings,
          .status,
          .widget,
          .delete {
            border-top: 3px solid var(--border);
          }
        }

        .website {
          padding-top: 18px;
          padding-left: 18px;
          text-align: left;
        }

        .status {
          padding-top: 12px;
          padding-left: 44px;

          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;

          @media screen and (max-width: 1450px) {
            padding-left: 15px;
          }
        }

        .settings {
          padding-top: 30px;
          display: flex;
          justify-content: center;
        }

        .widget {
          padding: 0 20px;
          padding-top: 30px;

          div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            height: 40px;
          }
        }

        .delete {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
