.salesDepartment {
  display: flex;
  flex-direction: column;

  min-width: 1320px;
  width: 100%;

  .phones {
    ul {
      list-style: none;

      li {
        margin: 7px 0;
      }
    }

    display: flex;
    flex-direction: column;
    gap: 18px;

    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
    }

    button {
      margin-top: 40px;
      max-width: 325px;
      padding: 5px 0px;
      width: 100%;
    }
  }

  .callMethod {
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      align-items: center;
      gap: 40px;

      .select {
        max-width: 340px;
        width: 100%;
      }
    }

    .desc {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
    }

    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

  .workTime {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 55px;

    margin-bottom: 80px;

    .select {
      max-width: 450px;
      width: 100%;
    }

    .exp {
      margin-top: 10px;
    }

    .row {
      &:first-child {
        display: flex;
        align-items: center;
      }

      display: flex;
      align-items: flex-start;
      gap: 50px;

      text-align: right;

      .title {
        width: 350px;
        text-align: right;

        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
      }

      .toggle {
        margin-bottom: 15px;
      }

      .select {
        width: 450px;
      }
    }
  }
}
