.widget {
  margin: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;

  height: 100px;

  .message {
    margin-right: 35px;
    max-width: 300px;
    width: 100%;
    backdrop-filter: blur(15px);
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(15px);

    padding-top: 20px;
    padding-left: 25px;
    padding-right: 35px;
    padding-bottom: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;

    @media screen and (max-width: 1400px) {
      font-size: 14px;
    }

    position: relative;

    &::after {
      position: absolute;
      content: '';
      top: 42%;
      right: -15px;
      width: 0px;
      height: 0px;
      border-top: 10px solid transparent;
      border-left: 15px solid rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(15px);
      border-right: 0px solid transparent;
      border-bottom: 10px solid transparent;
    }
  }

  img {
    max-width: 65px;
    max-width: 65px;
  }
}
