.widgetSettings {
  display: flex;
  align-items: flex-start;

  display: flex;
  flex-direction: column;

  .previewMode {
    padding-left: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    background: #e0e0e0;
    height: 70px;
    width: 100%;

    p {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
    }

    .url {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      color: #1f6f9c;
    }
  }

  .wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;

    .preview {
      width: 100%;

      .showcase {
        height: 400px;
        width: 100%;
        background: hotpink;
      }

      .background {
        background: url('../../assets/images/website-back-big.png');
        background-size: 100%;
      }
    }
  }
}
