.dragPhone {
  display: flex;
  align-items: center;

  max-height: 55px;
  height: 100%;

  svg {
    margin-top: 5px;
    cursor: pointer;
    height: 35px;
    width: 35px;
    margin-right: 20px;
  }

  .select {
    max-width: 100px;
    width: 100%;
    height: 50px;
    margin-right: 10px;
  }

  .position {
    border-radius: 5px;
    padding: 6px 12px;
    background: #d0d0d0;
    margin-right: 30px;
  }

  .tel {
    background: #a8a8a8;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    height: 45px;
    width: 86px;

    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
  }

  input {
    height: 55px;
    padding-left: 20px;

    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    border: 2px solid #a8a8a8;
    border-radius: 5px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
