.purple {
  position: relative;
  display: flex;
  align-items: center;

  width: 240px;
  height: 46px;
  background: var(--purple);

  border-radius: 5px;

  select {
    cursor: pointer;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;

    outline: 0;
    box-shadow: 0;
    border: none;
    background: var(--purple);
    color: #fff;

    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    @media screen and (max-width: 1440px) {
      font-size: 14px;
    }

    &::-ms-expand {
      display: none;
    }

    flex: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 26px;
  }

  &::after {
    content: url('../../assets/icons/arrow-down.svg');
    position: absolute;
    top: 30%;
    right: 14px;
    cursor: pointer;
    pointer-events: none;
    transition: all 0.5s all ease;
  }
}

.gray {
  position: relative;
  display: flex;
  align-items: center;

  background: #a8a8a8;
  border-radius: 5px;

  select {
    cursor: pointer;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;

    outline: 0;
    box-shadow: 0;
    border: none;
    background: #a8a8a8;
    color: #fff;

    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    @media screen and (max-width: 1440px) {
      font-size: 14px;
    }

    &::-ms-expand {
      display: none;
    }

    flex: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 26px;
  }

  &::after {
    content: url('../../assets/icons/arrow-down.svg');
    position: absolute;
    top: 30%;
    right: 14px;
    cursor: pointer;
    pointer-events: none;
    transition: all 0.5s all ease;
  }
}

.red {
  position: relative;
  display: flex;
  align-items: center;

  background: var(--red);
  border-radius: 5px;

  select {
    cursor: pointer;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;

    outline: 0;
    box-shadow: 0;
    border: none;
    background: var(--red);
    color: #fff;

    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    @media screen and (max-width: 1440px) {
      font-size: 14px;
    }

    &::-ms-expand {
      display: none;
    }

    flex: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 26px;
  }

  &::after {
    content: url('../../assets/icons/arrow-down.svg');
    position: absolute;
    top: 30%;
    right: 14px;
    cursor: pointer;
    pointer-events: none;
    transition: all 0.5s all ease;
  }
}
