.callsTable {
  position: relative;
  padding-right: 10px;
  padding-bottom: 10px;

  overflow-x: scroll;

  .top {
    display: grid;
    grid-template-columns: 30px 230px 230px 230px 270px minmax(315px, 1fr) 210px;

    @media screen and (max-width: 1450px) {
      grid-template-columns: 30px 150px 150px 150px 170px minmax(100px, 200px) minmax(
          200px,
          1fr
        );
    }

    @media screen and (max-width: 790px) {
      grid-template-columns: 30px 120px 120px 120px 140px minmax(100px, 150px) minmax(
          170px,
          1fr
        );
    }

    span {
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      color: var(--gray);

      @media screen and (max-width: 1440px) {
        font-size: 14px;
      }

      &:not(:first-child) {
        padding: 0 10px;
      }
      text-align: center;
    }
  }

  .rows {
    margin-top: 7px;
  }

  .voidRow {
    display: grid;
    grid-template-columns: 30px 230px 230px 230px 270px minmax(315px, 1fr) 210px;

    @media screen and (max-width: 1450px) {
      grid-template-columns: 30px 150px 150px 150px 170px minmax(100px, 200px) minmax(
          200px,
          1fr
        );
    }

    @media screen and (max-width: 790px) {
      grid-template-columns: 30px 120px 120px 120px 140px minmax(100px, 150px) minmax(
          170px,
          1fr
        );
    }

    height: 55vh;

    .voidCell {
      border-right: 2px solid var(--border);
      border-top: 3px solid var(--border);
      border-bottom: 3px solid var(--border);
      text-align: center;

      background: var(--table);

      .play {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;

        margin-top: 40px;
        padding: 9px 30px;
        border-radius: 5px;
      }
    }

    .noCalls {
      position: absolute;
      top: 65px;
      left: 40%;
      font-style: italic;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;

      color: var(--gray);
    }
  }
}
