.buttons {
  background: var(--table);

  min-width: 1320px;
  width: 100%;

  .wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;

    width: 100%;
    border-top: 3px solid var(--border);

    @media screen and (max-width: 1100px) {
      justify-content: left;
    }
  }

  border-bottom: 3px solid var(--border);

  .back {
    border: none;
    background: none;
    color: var(--red);
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    @media screen and (max-width: 1100px) {
      margin-left: 20px;
    }
    @media screen and (max-width: 720px) {
      font-size: 16px;
    }
    @media screen and (max-width: 420px) {
      font-size: 14px;
    }
  }
  .save {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    width: 314px;
    height: 60px;
    border-radius: 5px;

    @media screen and (max-width: 720px) {
      font-size: 16px;
    }
    @media screen and (max-width: 420px) {
      font-size: 14px;
    }
  }
}
