.modal {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(34, 34, 34, 0.53);
  backdrop-filter: blur(9.5px);
}
