.explanation {
  display: flex;
  align-items: center;
  gap: 10px;

  div {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;

    @media screen and (max-width: 1400px) {
      font-size: 14px;
    }

    max-width: 780px;

    span {
      cursor: pointer;
      color: var(--red);
    }
  }
}
