.preview,
.website {
  width: 100%;
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;

  background: url('../../../assets/images/background.png');
  background-size: 100%;
  overflow-y: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.website {
  background: url('../../../assets/images/website-back-big.png');
}
