.timeWrapper {
  @media screen and (max-width: 790px) {
    padding: 0 20px;
    width: 100%;
  }

  .timeLeft {
    background: var(--purple);
    display: flex;
    align-items: center;
    border-radius: 5px;

    max-height: 60px;
    height: 100%;

    @media screen and (max-width: 1440px) {
      max-height: 45px;
    }

    @media screen and (max-width: 790px) {
      width: 100%;
      justify-content: center;
    }

    .date {
      padding: 20px 30px;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: var(--white);

      @media screen and (max-width: 1440px) {
        font-size: 16px;
      }

      @media screen and (max-width: 390px) {
        padding: 15px 20px;
      }

      span {
        padding: 2px 8px;
        background: var(--red);
        border-radius: 5px;
      }
    }

    .timeLeftButton {
      width: 150px;
      height: 100%;
      background: var(--purple);
      font-weight: 900;
      font-size: 18px;
      line-height: 21px;
      border-left: 3px solid var(--dark-purple);

      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 1440px) {
        max-height: 45px;
        font-size: 16px;
      }

      @media screen and (max-width: 790px) {
        display: none;
      }
    }
  }
}
